/*DEFAULT STYLING*/
body 
{
	background-image: url(img/blur.jpg);
	background-size: cover;
}


p
{
	margin-left: 1em;
	margin-right: 1em;
}
header 
{
	margin: 0 5%;
	margin-bottom: 0;
}

.display-1
{
	color: white;
	font-weight: 400;
}


/*ALL NAV STYLING*/
nav
{
	margin: 0 5%;
}

li .navitem
{
	padding: 0 20%;
}

ul .navbar-nav
 {
 	margin: 0;
 }

/*THIS IS THE CLASS OF THE LINK TAG OF THE CURRENTLY SELECTED PAGE*/
.active 
{
	background-color: #111;
}


/*MAIN STYLING*/
main 
{
	margin: 5%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
}

main h1
{
	margin: 0 6%;
	margin-top: 0;
	padding-bottom: 1%;
	padding-top: 0;
}

main img
{
	object-fit: cover;
	max-height: 250px;
}

.carousel img
{
	max-height: 300px;
}
.cardTable
{
	margin: 0 5%;
}

.card-deck
{
	padding: 2.5%;
	padding-bottom: 0;
}
p
{
	padding: 0 5%;
}
#bottomP
{
	margin-bottom: 0;
	padding: 0 5%;
	padding-bottom: 2em;
}

/*FOOTER STYLING*/
footer
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: #F2A900;
}

footer p
{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0;
	margin-bottom: 0;
}
