body 
{
	font-family: Arial;
	background-image: url(img/image.png);
}


p
{
	margin-left: 1em;
	margin-right: 1em;
}
header 
{
	margin: 5%;
	margin-bottom: 0;
}

nav
{
	margin-left: 5%;
	margin-right: 5%;
	background-color: grey;
}

nav
{
	position: sticky;
	overflow: hidden;
	top: 0;
}
ul
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	top: 0;
}

li
{
	float: left;
}

li a
{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover
{
	background-color: #111;
}

.active 
{
	background-color: #111;
}

main 
{
	margin: 5%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: white;
}

main h1
{
	margin-left: 0.5em;
	margin-top: 0;
	padding-top: 2.5%;
}

table
{
	display: block;
	margin: 1em;
}

th
{
	width: 25%;

}
th img
{
	width: 90%;
	height: auto;
	border: 5px solid grey;
	border-radius: 2.5%;
	margin-bottom: 2em;
}

footer
{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: grey;
}

#bottomP
{
	margin-bottom: 0;
	padding-bottom: 2em;
}

footer p
{
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 0;
	margin-bottom: 0;
}
