<html>
{% load staticfiles %}
<head>
	<title>About Us</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css\styles.css'%}"></link>
</head>

<body>
	<header>
		<img src="{% static 'img\logo.png'%}" alt="Laurier Logo and Slogan">
	</header>

	<nav>
		<ul id="navbar">
			<li ><a href="{% url  'home' %}">Home</a></li>
			<!-- <li><a href="projects.html">Projects</a></li> -->
			<li ><a href="{% url  'home' %}">Projects</a></li>
			<!-- <li><a href="blog.html">Blog</a></li> -->
			<li ><a href="{% url  'home' %}">Blog</a></li>
			<li><a href="{% url  'about' %}">About Us</a></li>
			<!-- <li><a href="team.html">Team Members</a></li> -->
			<li ><a href="{% url  'home' %}">Team Members</a></li>
			<li><a href="{% url  'sponsor' %}" class="active">Sponsor Us</a></li>
			<!-- <li><a href="join.html">Join Us</a></li> -->
			<li ><a href="{% url  'home' %}">Join Us</a></li>
		</ul>
	</nav>

	/* Text Body*/

	<footer>
		<p>&copy; 2018 Laurier Robotics Club. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="privacy.html">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&#124;&nbsp;&nbsp;&nbsp;<a href="terms.html">Terms of Service</a>&nbsp;Powered by HTML5.</p>
	</footer>

</body>

</html>